.wrap {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	padding-top: 50px;
}

.content {
	display: flex;
	flex: 1;
	padding-bottom: 150px;
}

.logo {
	width: 100%;
	height: 400px;
	background: url('../../static/assets/bts.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
}

.showWrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.toolbar {
	padding-bottom: 10px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-left: 45px;
	margin-right: 45px;
	margin-bottom: 45px;
	border-bottom: 1px solid #e6e6e6;
}

.count {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: -2px;
	display: none;
}

.left {
	position: relative;
	top: 10px;
	display: flex;
	align-items: center;
	width: 40%;
	justify-content: space-between;
}

@media screen and (max-width: 430px) {
	.search {
		display: none;
	}
}


@media screen and (max-width: 780px) {
	.search { 
		display: none;
	}
}

@media screen and (max-width: 680px) {
	.search, .toolbar {
		display: none;
	}
}
