.wrap {
	height: 40px;
	width: 100%;
	color: #fff;
}

.header {
	background-color: #2e353d;
	position: fixed;
	height: 40px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.content {
	display: flex;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
}

.menu {
	margin: 0;
	display: flex;
}

.link {
	color: #99abb6;
	text-decoration: none;
	height: 40px;
	display: block;
	line-height: 40px;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
	transition: all .2s;
}

.link:hover {
	color: #ffffff;
	transition: all .2s;
}

.active {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.1);
	transition: all .2s;
}

.logo {
	font-size: 17px;
	text-decoration: none;
	color: #ffffff;
}
.icon {
	height: 11px;
	margin-left: -10px;
}
.icon svg {
	color: #ffffff;
	width: 35px;
	height: 27px;
	margin-top: -8px;
}

.social {
	margin-left: auto;
	margin-top: 3px;
}

.vk svg {
	width: 27px;
	height: 27px;
	color: #fff;
	transition: color .2s;
}

.youtube {
	composes: vk;
}
.youtube svg {
	width: 32px;
	height: 32px;
}
.socialLink:hover svg {
	color: #ffdb4d;
	transition: color .2s;
}

.socialLink {
	padding: 10px;
}

@media screen and (max-width: 570px) {
	.social {
		display: none;
	}
	.hidden {
		display: none !important;
	}
}

@media screen and (max-width: 680px) {
	.logo {
		display: none;
	}

	.menu {
		padding-left: 3px;
	}
}
