.footer {
	height: 40px;
	background-color: #2e353d;
	width: 100%;
}

.content {
	color: #ffffff;
	display: flex;
	height: 40px;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	padding-left: 10px;
}

